<h1>New Sudent Form</h1>
<%= form_for @student do |f| %>
  <%= f.label :first_name%>
  <%= f.text_field :first_name %><br>

  <%= f.label :first_name%>
  <%= f.label :last_name%>
  <%= submit_tag "Submit Post" %>
<% end %>
